
// Primary Melon: #E65A60
// Text Grey: #6C7070
// Text Dark: #3E3F40
// BG Grey: #575A5B
// Line Color: #D6D7D9

body {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  background: white;
}
#backgroundTable {
  background: white;
}

h1, h2, h3, h4, h5, h6 {
  color: #3E3F40 !important;
  text-transform: uppercase;
  line-height: 1.1;
}
h2.poster {
  margin: 5px 0;
  font-family: 'Poster Sans', 'poster_sansregular', 'Arial Narrow', sans-serif;
  text-transform: uppercase;
  font-size: 2.2rem;
  font-weight: normal;
}
@media screen and (max-width: 620px) {
  h1 { font-size: 1.5em; }
}
img { max-width: 100%; }

table {
  text-align: center;
  color: #6C7070;
  font-size: inherit;
}

.table { width: 100%; }
.table-grid-spaced { margin-bottom: 15px; }
.table-grid-spaced td {
  width: 50%;
  padding: 10px;
}
.table-grid-spaced td:first-child { padding-left: 0; }
.table-grid-spaced td:last-child { padding-right: 0; }

@media screen and (max-width: 620px) {
  .table-grid-spaced td { width: 100%; }
  .table-grid-spaced td, .table-grid-spaced td:first-child { padding-left: 0; }
  .table-grid-spaced td, .table-grid-spaced td:last-child { padding-right: 0; }
}

.link-block {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}
.link-unstyled {
  text-decoration: none;
  color: inherit;
}

.mail-wrap {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  padding: 0 10px;
  text-align: center;
}
@media screen and (min-width: 660px) {
  .mail-wrap {
    padding: 0;
  }
}
.mail-wrap-table {
  margin: 20px auto;
  max-width: 600px;
}
.mail-header {
  padding: 10px 0;
  text-align: center;
}
.mail-section {
  padding: 20px 0;
}
.mail-section-border {
  border-bottom: 1px solid #D6D7D9;
}
.mail-footer {
  padding: 15px 0;
  font-size: .8em;
}

.highlight-block {
  padding: 10px;
  background: #575A5B;
  color: white;
  border-radius: 6px;
}
.highlight-block-melon {
  background: #E65A60;
}
.highlight-block-message {
  font-size: 1.4rem;
  line-height: 1.1;
}

.feature-image {
  border-radius: 6px;
}
@media (min-width: 450px) {
  .feature-content {
    padding-left: 10%;
    padding-right: 10%;
  }
}

.quote-bubble {
  padding: 30px;
  background-color: #E65A60;
  color: white;
  font-size: 2em;
  line-height: 1.1;
  border-radius: 10px;
}
.quote-name {
  text-align: right;
  text-transform: uppercase;
  font-size: 2em;
  line-height: 1.1;
  font-weight: bold;
  color: #3E3F40;
}
.quote-role { text-align: right; }
.quote-tick-wrap { text-align: right; }
.quote-tick {
  margin-right: 4%;
  height: 50px;
  // border-right: 35px solid #E65A60;
  // border-bottom: 35px solid white;
}
.event-wrap {
  background: white;
  border-radius: 6px;
  overflow: hidden;
}
.event-img {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.event-heading {
  margin: 0;
}
.event-body {
  padding: 15px;
}
.block-center {
  margin: 0 auto;
}

.btn {
  display: inline-block;
  padding: 10px;
  border-radius: 6px;
  background: #E65A60;
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
}

.text-center { text-align: center; }
.text-left { text-align: left; }
.color-white { color: white !important; }

@media screen and (max-width: 620px) {
  .mobile-block {
    display: block;
    width: 100%;
  }
}